.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: blanchedalmond;
  padding: 20px;
}
.storeImage {
  width: 100%;
  height: fit-content;
}
.productList {
  display: flex;
}
.product.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
p {
  color: #555;
  font-size: 1em;
  margin: 10px 0;
  line-height: 1.5;
}
